:root {
    --collection-1-primary: rgba(31, 54, 36, 1);
    --collection-1-second: rgba(133, 150, 82, 1);
    --collection-1-something: rgba(205, 191, 154, 1);
    --collection-1-something-else: rgba(230, 192, 117, 1);
}
